//
   Created by abaschenis on 22.09.2014.

doctype html
html(lang="fr")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title= pageTitle
        style.
            .col-xs-12 {
                height: 100px;
                background-color: lightcyan;
                color: white;
                text-align: center;
            }
    body
        //Grid Classes: .container: wrapper for all your rows
        //                .row: contains all your columns
        //                    .col-##-##: the sizes of the colums in your row

        #container
            .row
                .col-xs-12 COL XS

